---
sitemap: 
  ignore: true
---

<html lang="en">
<head>
  {% include "css.njk" %}

  <link rel="stylesheet" href="/assets/css/404.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- 100% privacy-first analytics -->
  <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <title>{{page_title}} | Crossing All Borders Ministries</title>
</head>

<body>

<div class="page-container">
  {% include "header.njk" %}

  {% include "banner.njk" %}


  <main class="content-container-404">

    <div class="container-404">
      <h2 class="main">Oops — the page you’re looking for has gone on a mission trip.</h2>
      <p class="sub">But don’t worry — <strong>Crossing All Borders Ministries</strong> is all about going places: 
        across countries, across cultures, and even across denominational lines.</p>
      <div class="links">
        <a href="/">Home</a>
        <a href="/about-us">About Us</a>
        <a href="/volunteer">Volunteer</a>
        <a href="/contact">Contact Us</a>
      </div>
    </div>

  </main>

  {% include "footer.njk" %}
</div>

</body>
