<div class="cookie-banner" id="cookie-banner">
  <h3>We Use Cookies</h3>
  <p>We use analytics cookies to improve this site, accept to help us spread the word of our mission!</p>
  <div class="buttons">
    <button id="accept-cookies">Accept</button>
    <button id="reject-cookies">Reject</button>
  </div>
  <script src="/assets/js/cookies.js"></script>
</div>