<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/assets/css/header/header.css">
<link rel="stylesheet" href="/assets/css/header/switch.css">
<link rel="stylesheet" href="/assets/css/header/header-mobile.css">

<link rel="stylesheet" href="/assets/css/banner/banner.css">
<link rel="stylesheet" href="/assets/css/banner/banner-mobile.css">

<link rel="stylesheet" href="/assets/css/footer/footer.css">
<link rel="stylesheet" href="/assets/css/footer/footer-middle.css">
<link rel="stylesheet" href="/assets/css/footer/footer-mobile.css">
<link rel="stylesheet" href="/assets/css/footer/footer-left.css">
<link rel="stylesheet" href="/assets/css/footer/groups.css">

<link rel="stylesheet" href="/assets/css/main/main.css">
<link rel="stylesheet" href="/assets/css/main/main-mobile.css">
<link rel="stylesheet" href="/assets/css/main/paragraphs.css">
<link rel="stylesheet" href="/assets/css/main/paragraphs-mobile.css">
<link rel="stylesheet" href="/assets/css/main/photos.css">
<link rel="stylesheet" href="/assets/css/main/photos-mobile.css">
<link rel="stylesheet" href="/assets/css/main/buttons.css">
<link rel="stylesheet" href="/assets/css/main/buttons-mobile.css">

<link rel="stylesheet" href="/assets/css/redirect/redirect.css">
<link rel="stylesheet" href="/assets/css/redirect/redirect-mobile.css">
<!-- <link rel="stylesheet" href="/assets/css/main/#.css"> -->
