<head>
  <script src="https://kit.fontawesome.com/b8e46404f0.js" crossorigin="anonymous"></script>
</head>

<div class="footer">
    <div class="top">
      <div class="footer-left">
        <div class="info">
          <div class="image">
            <img src="/assets/images/main/logo.jpg" alt="Crossing ALL Borders Ministries Logo">
          </div>
          <div class="text">
            <p class="name">Crossing ALL Borders Ministries</p>
            <p>1446 James Norris Rd</p>
            <p>Angier, NC 27501</p>
            <p>910.890.7201</p>
            <a id="btn" href="/donations/financial"><button class="cash-donations" id="small">Donate Now!</button></a>
          </div>
        </div>
        <div class="disclaimers">
          <p><small>Crossing ALL Borders Ministries is a 501(c)(3) tax-exempt charity. All contributions to Crossing ALL Borders Ministries will be applied to the purpose designated by the donor whenever possible. If a particular need has already been met or cannot be fulfilled, funds will be used for a similar ministry need in alignment with our mission. All donations are subject to the discretion and control of Crossing ALL Borders Ministries.</small></p>
        </div>
      </div>

      <div class="footer-middle">
        <div class="teal"></div>
        <div class="blue">
          <p><strong>We cross geographic, ethnic, economic, educational, and denominational borders to help those in need.</strong></p>
          <p>We strive to demonstrate the love of Jesus Christ through donations of tangible goods. Our desire is to participate in the works of the Holy Spirit to reach people for Christ and to provide opportunities for spiritual growth through missions</p>
        </div>
      </div>

      <div class="link-groups">
        <div class="link-group">
          <h4>About</h4>
          <hr>
          <a href="/about-us">About Us</a>
          <a href="#">.</a>
          <!-- <a href="/about-us/our-story">Our Story</a> -->
          <a href="/">Home</a>
          <a href="#">.</a>
          <a href="#">.</a>
          <!-- <a href="#">Meet the Board</a>
          <a href="#">Core Volunteers</a> -->
        </div>
        <div class="link-group">
          <h4>Get Involved</h4>
          <hr>
          <a href="/volunteer">Volunteer</a>
          <a href="/donations/tangible">Donations</a>
          <a href="/contact">Contact</a>
          <a href="#">.</a>
          <a href="#">.</a>
        </div>
        <div class="link-group">
          <h4>Ministries</h4>
          <hr>
          <a href="/ministries/medical">Medical</a>
          <a href="/ministries/sewing">Sewing</a>
          <a href="/ministries/national">National</a>
          <a href="/ministries/international">International</a>
          <a href="#">.</a>
          <!-- <a href="#">Videos</a>
          <a href="#">Virtual Tour</a>
          <a href="#">Photo Gallery</a>
          <a href="#">Privacy Policy</a> -->
        </div>
        <div class="link-group">
          <h4>Resources</h4>
          <hr>
          <a href="/legal/privacy-policy">Privacy Policy</a>
          <a href="/legal/terms-and-conditions">Terms</a>
          <a href="/donations/handout">Handout</a>
          <a target="_blank" href="https://www.amazon.com/Gods-Power-Midst-War-Miraculous/dp/B0DZPJ8P1R">God's Power (book)</a>
          <a target="_blank" href="https://www.amazon.com/Faithful-Small-Things-Ministry-Nations/dp/1961614480">Faithful (book)</a>
        </div>
      </div>
    </div>
    
    <hr class="divider"></hr>

    <div class="bottom">
      <p>&copy; 2025 Crossing ALL Borders Ministries. All rights reserved.</p>
      <p>Built By <a href="https://github.com/silas-N-schlax" target="_blank" class="footer-link">Silas Schlax</a></p>
        <p>
          <a target="_blank" href="https://www.facebook.com/groups/365284617624603/" class="link"><i id="icon" class="fa-brands fa-facebook"></i></a> |
          <a href="/legal/terms-and-conditions" class="link"><i id="icon" class="fa-solid fa-file-contract"></i></a> |
          <a href="/legal/privacy-policy" class="link"><i id="icon" class="fa-solid fa-user-shield"></i></a> | 
          <a target="_blank" href="https://g.page/r/CUL5w3IfL5UoEAE/review" class="link"><i id="icon" class="fa-solid fa-star"></i></a>
        </p>
    </div>
</div>