<head>
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/footer.css">
</head>

<div class="footer">
    <div class="top">
      <img src="../assets/images/main/logo.jpeg" alt="Crossing All Borders Ministries" class="logo">
      <!-- <p class="name">Crossing All Borders Ministries</p> -->
      <div class="link-groups">
        <div class="link-group">
          <h4>About</h4>
          <hr>
          <a href="#">About Us</a>
          <a href="#">Meet the Team</a>
          <a href="#">Location</a>
        </div>
        <div class="link-group">
          <h4>Get Involved</h4>
          <hr>
          <a href="#">Volunteer</a>
          <a href="#">Donate</a>
          <a href="#">Contact</a>
        </div>
        <div class="link-group">
          <h4>Resources</h4>
          <hr>
          <a href="#">Stories & Updates</a>
          <a href="#">Events / Calender</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
    
    <hr class="divider">

    <div class="bottom">
      <p>&copy; 2025 Crossing All Borders Ministries. All rights reserved.</p>
      <p>Website by: Silas Schlax | <a target="_blank" href="https://github.com/silas-N-schlax" class="link">Github</a></p>
      <p>Hosted by: [Your Hosting Provider]</p>
      <p>Follow us on: 
        <a target="_blank" href="https://www.facebook.com/groups/365284617624603/" class="link">Facebook</a> | 
        <a target="_blank" href="#" class="link">Social Here</a> | 
        <a target="_blank" href="#" class="link">Social Here</a>
    </div>
</div>