<header>
  <nav>
    <a href="/" class="pfp">
      <img src="/assets/images/main/logo.jpg" alt="Crossing All Borders Logo">
    </a>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links">
      
      <a href="/about-us">About Us</a>

      <div class="nav-groups">

        <div class="group" id="ministry">
          <h4>Ministries</h4>
          <div class="group-links" id="group-links-ministry">
            <!-- <a href="">Ministries <i>(overview)</i></a> -->
            <a href="/ministries/medical">Medical</a>
            <a href="/ministries/sewing">Sewing</a>
            <a href="/ministries/national">National</a>
            <a href="/ministries/international">International</a>
          </div>
        </div>

        <div class="group" id="get-involved">
          <h4>Get Involved</h4>
          <div class="group-links" id="group-links-get-involved">
            <a href="/donations">Donations</a>
            <a href="/volunteer">Volunteer</a>
            <!-- <a href="">Partners</a> -->
          </div>
        </div>
        
        <!-- <div class="group" id="the-inside">
          <h4>From the Inside</h4>
          <div class="group-links" id="group-links-the-inside">
            <a href="">Videos</a>
            <a href="">Virtual Tour</a>
            <a href="">Meet the Board</a>
            <a href="">Core Volunteers</a>
          </div>
        </div>

        <div class="group" id="more-pages">
          <h4>More Pages</h4>
          <div class="group-links" id="group-links-more-pages">
            <a href="">Photo Gallery</a>
            <a href="">Privacy Page`</a>
            <a href="">Location</a>
          </div>
        </div> -->

      </div>

      <a href="/contact">Contact Us</a>

    <label class="switch">
      <input type="checkbox" id="theme-toggle">
      <i id="theme-icon" class="fa-solid fa-sun slider round"></i>
      
    </label>

    </div>
  </nav>
</header>

<script src="/assets/js/header.js"></script>
<script src="/assets/js/theme.js"></script>
