<head>
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/header.css">
</head>

<header>
  <nav>
    <a href="{{ page_title | default('Crossing All Borders') }}" class="pfp">
      <img src="../../assets/images/main/logo.jpeg" alt="Crossing All Borders Logo">
    </a>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links">
      
      <a href="">About Us</a>

      <div class="nav-groups">

        <div class="group" id="ministry">
          <h4>Ministries</h4>
          <div class="group-links" id="group-links-ministry">
            <a href="">Ministries <i>(overview)</i></a>
            <a href="">Medical</a>
            <a href="">Sewing</a>
            <a href="">National</a>
            <a href="">International</a>
          </div>
        </div>

        <div class="group" id="get-involved">
          <h4>Get Involved</h4>
          <div class="group-links" id="group-links-get-involved">
            <a href="">Donations</a>
            <a href="">Giving</a>
            <a href="">Volunteer</a>
            <a href="">Sponsors</a>
          </div>
        </div>
        
        <div class="group" id="news-events">
          <h4>News & Events</h4>
          <div class="group-links" id="group-links-news-events">
            <a href="">Stories & Updates</a>
            <a href="">Events / Calender</a>
            <a href="">Meet the Team</a>
          </div>
        </div>

        <div class="group" id="more-pages">
          <h4>More Pages</h4>
          <div class="group-links" id="group-links-more-pages">
            <a href="">Photo Gallery</a>
            <a href="">Privacy Page`</a>
            <a href="">Location</a>
          </div>
        </div>

      </div>

      <a href="">Contact Us</a>
    </div>
  </nav>
</header>

<script src="/assets/js/header.js"></script>
