<html lang="en">
<head>
  {% include "css.njk" %}
  {% for css in stylesheets %}
    <link rel="stylesheet" href="/assets/css/{{ css }}">
  {% endfor %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{meta_description}}">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- 100% privacy-first analytics -->
  <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <title>{{page_title}} | Crossing All Borders Ministries</title>
  <link rel="canonical" href="{{ site.url }}{{ permalink }}" />
</head>

<body>
  <script src="/assets/js/redirect.js"></script>

  <div class="page-container">
    {% include "header.njk" %}

    {% include "banner.njk" %}

    <div class="iframe">
      {{ content | safe }}
    </div>

    <!-- <main class="content-container">
      
    </main> -->

    {% include "footer.njk" %}
  </div>

  {% for script in scripts %}
    <script src="/assets/js/{{ script }}"></script>
  {% endfor %}
</body>