<html lang="en">
<head>
  {% include "css.njk" %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/main/logo.jpg" type="image/jpeg">
  <link rel="canonical" href="{{ site.url }}{{ permalink }}" />
  <title>{{page_title}} | Crossing All Borders</title>
</head>

<body>

<div class="page-container">
  {% include "header.njk" %}

  {% include "banner.njk" %}


  <main class="content-container">

    <h1>{{title | safe}}</h1>
    <h2>{{subtitle | safe}}</h2>

    {{ content | safe }}

  </main>

  {% include "footer.njk" %}
</div>

</body>