<html lang="en">
<head>
  {% include "css.njk" %}
  {% for css in stylesheets %}
    <link rel="stylesheet" href="../assets/css/{{ css }}">
  {% endfor %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/main/logo.jpg" type="image/jpeg">
  <title>{{page_title}} | Crossing All Borders</title>
</head>

<body>

<div class="page-container">
  {% include "header.njk" %}

  {% include "banner.njk" %}


  <main class="content-container">

    
    <h1>{{title | safe}}</h1>
    <h2>{{subtitle | safe}}</h2>
    {{ content | safe }}

  </main>

  {% include "footer.njk" %}
</div>

{% for script in scripts %}
  <script src="/assets/js/{{ script }}"></script>
{% endfor %}

</body>