@media(max-width: 768px){
  .content-container {
    p {
      font-size: calc(16px * var(--font-size-modifier));
      line-height: 1.4;
      text-indent: 24px;
    }

    #small-text-center {
      font-size: calc(8px * var(--font-size-modifier));
    }

    blockquote {
      margin: 0;
      text-indent: 0;
    }

    blockquote p {
      padding-left: 10px;
      border-left: 2px solid var(--text-secondary);
    }

    ul, ol {
      font-size: calc(14px * var(--font-size-modifier));
      line-height: 22px;
      margin-left: 5px;
      padding-left: 15px;
    }

    .spacer {
      margin-top: 15px;
    }

    h1 {
      font-size: calc(24px * var(--font-size-modifier));
    }

    h2 {
      font-size: calc(18px * var(--font-size-modifier));
      padding-bottom: 10px;
    }

    h3 {
      font-size: calc(16px * var(--font-size-modifier));
      text-align: left;
    }

    h4 {
      font-size: calc(14px * var(--font-size-modifier));
      text-align: left;
    }

    h6 {
      font-size: calc(14px * var(--font-size-modifier));
      line-height: 1.4;
    }

    a {
      color: var(--links-text-mobile);
      padding: 0;
      margin: 0;
    }

    iframe#map {
      width: 90%;
      height: 300px;
    }
  }
}