.content-container {
  .swiper {
    width: 100%;
    max-width: 900px;
    height: 90vh; 
    margin-top: 20px;
  }

  .swiper#small {
    max-width: 50%;
    width: 30%;
    height: 50vh;
  }



  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }

  .swiper-button-prev, .swiper-button-next {
    color: var(--hr-color);
  }
}