.content-container {
  .swiper {
    width: 100%;
    max-width: 900px;
    height: 90vh; 
    margin-top: 20px;
  }

  .swiper#small {
    max-width: 50%;
    width: 30%;
    height: 50vh;
  }

  .centered-sm-ctr {
    display: flex;
    justify-content: center;
  }

  .centered-sm-ctr img {
    width: 30%;
  }



  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }
}

.swiper {
  --swiper-navigation-color: var(--background-opposite);
  --swiper-navigation-size: 22px;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 12px;
  border-radius: 100%;
  background-color: var(--background);
  color: var(--background--opposite);
  display: grid;
  place-items: center;  
  box-shadow: 0 2px 8px rgba(0,0,0,.18);
}

.swiper-button-next {
  padding-right: 13px;
  padding-left: 17px;
}

.swiper-button-prev {
  padding-left: 13px;
  padding-right: 17px;
}

.swiper-button-next::after, 
.swiper-button-prev::after {
  font-size: var(--swiper-navigation-size);
  font-weight: bold;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
 filter: brightness(1.05);
 transform: translateY(-1px);
 transition: transform .2s ease, filter .2s ease;
}