table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 14px;

  th, td {
    padding: 12px 15px;
    border: 1px solid var(--hr-color);
  }

  th {
    background-color: var(--table-header-bg);
    color: var(--header-text);
  }

  tr:nth-child(even) {
    background-color: var(--table-bg-even);
  }

  tr:nth-child(odd) {
    background-color: var(--table-bg-odd);
  }

  tr:hover {
    background-color: var(--table-hover);
  }
}