body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 14px;
}

/* CAB Green: 11af9f */
/* CAB Blue: 1f1b56 */

/* Base colors for both light and dark mode :) */
:root[data-theme="light"] {
  --text-primary: #1a1a1a; /* */
  --text-secondary: #555555; /* */
  --accent-text: #11af9f; /* CAB Green */
  --highlight-bg: #6289c4; 
  --highlight-text: #ffffff;
  --hr-color: #cccccc; /* */
  --paragraph-bg: #f9f9f9; /* */
  --background: #ffffff; /* */
  --background-opposite: #121212; 
  --banner-bg: #586e83; /* */
  --header-bg: #fff; /* */
  --footer-bg: #47576e; /* */
  --banner-text: #ffffff;  /* */
  --header-text: #1a1a1a; /* */
  --footer-text: #fdfbfb; /* */
  --box-bg: #f3f3f3; /* */
  --box-bg-dropdown: #dad7d7; /* */
  --photo-title-bg: #dfdcdc; /*^ */
  --slider-light: #ccc9c9; /* */
  --slider-dark: #000000; /* */
  --table-header-bg: #e0e0e0; /*! */
  --table-bg-even: #f2f2f2; /*! */
  --table-bg-odd: #ffffff; /*! Call Marcus O. to figure out */
  --table-hover: #d4d2d2; /*! */
  --links-text: #005fa3; /* */
  --links-text-hover: #004c99; /* */
  --links-text-mobile: #003f80; /* */
  --button-bg: #0077cc; /* */
  --button-text: #ffffff; /* */
  --button-hover-bg: #005fa3; /* */
  --button-bg-cash-donations: #C07B02; /* */
  --button-text-cash-donations: #ffffff; /* */
  --button-hover-bg-cash-donations: #a66b02; /* */
  --error-color: #a80303;
}

:root[data-theme="dark"] {
  --text-primary: #f2f2f2; /* */
  --text-secondary: #bbbbbb; /* */
  --accent-text: #11af9f; /* CAB Green */
  --highlight-bg: #345fbd; /* */
  --highlight-text: #ffffff; /* */
  --hr-color: #3f3e3e; /* */
  --paragraph-bg: #1b1b1b; /* */
  --background: #121212;/* */
  --background-opposite: #ffffff; /* */
  --banner-bg: #2c3e50; /* */
  --header-bg: #1f1e1e; /* */
  --footer-bg: #1f2630; /* */
  --banner-text: #ffffff; /* */
  --header-text: #f2f2f2; /* */
  --footer-text: #ebe6e6; /* */
  --box-bg: #2c2c2c; /* */
  --box-bg-dropdown: #3f3e3e; /* */
  --photo-title-bg: #3f3e3e; /* */
  --slider-light: #ffffff; /* */
  --slider-dark: #000000; /* */
  --table-header-bg: #444444; /* */
  --table-bg-even: #333333; /* */
  --table-bg-odd: #2c2c2c; /* */
  --table-hover: #0c0c0c; /* */
  --links-text: #66bfff; /* */
  --links-text-hover: #2b82da; /* */
  --links-text-mobile: #1a8cff; /* */
  --button-bg: #3399ff; /* */
  --button-text: #ffffff; /* */
  --button-hover-bg: #1a8cff; /* */
  --button-bg-cash-donations: #C07B02; /* */
  --button-text-cash-donations: #ffffff; /* */
  --button-hover-bg-cash-donations: #a66b02; /* */
  --error-color: #ff3333;
}