body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
}


/* Base colors for both light and dark mode :)
:root[data-theme="light"] {
  --text-primary: #1a1a1a;
  --text-secondary: #555555;
  --background: #ffffff;
  --banner-bg: #e6f0fa;
  --header-bg: #f8f9fa;
  --footer-bg: #f1f1f1;
  --banner-text: var(--text-primary);
  --header-text: var(--text-primary);
  --footer-text: var(--text-primary);
  --box-bg: #f9f9f9;
  --buttons-bg: #0077cc;
  --buttons-text: #ffffff;
  --links-text: #005fa3;
  --links-text-hover: #004c99;
  --links-text-mobile: #003f80;
}

:root[data-theme="dark"] {
  --text-primary: #f1f1f1;
  --text-secondary: #bbbbbb;
  --background: #121212;
  --banner-bg: #1a2a3a;
  --header-bg: #1e1e1e;
  --footer-bg: #1b1b1b;
  --banner-text: var(--text-primary);
  --header-text: var(--text-primary);
  --footer-text: var(--text-primary);
  --box-bg: #1f1f1f;
  --buttons-bg: #3399ff;
  --buttons-text: #000000;
  --links-text: #66c2ff;
  --links-text-hover: #99ccff
  --links-text-mobile: #99d6ff;
} */




/** Temp for dev till toggle is implemented */

:root {
  --text-primary: #1a1a1a;
  --text-secondary: #555555;
  --background: #ffffff;
  --banner-bg: #586e83;
  --header-bg: #8f9194;
  --footer-bg: #777575;
  --banner-text: #ffffff; 
  --header-text: #1a1a1a; 
  --footer-text: #f2f2f2; 
  --box-bg: #f9f9f9;
  --box-bg-dropdown: #f0f0f0;
  --buttons-bg: #0077cc;
  --buttons-text: #ffffff;
  --links-text: #005fa3;
  --links-text-hover: #004c99;
  --links-text-mobile: #003f80;
}