@media (max-width: 768px) {
  .graphic-container .background {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  .groups-ghc {
    top: 0;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 700px;
  }
}