@media (max-width: 768px) {
  input, textarea {
    font-size: calc(14px * var(--font-size-modifier));
  }

.errorX {
  font-size: calc(8px * var(--font-size-modifier));
}

.errorText {
  font-size: calc(10px * var(--font-size-modifier));
}

}