.footer-left {
  color: var(--footer-text);
  text-align: left;
  line-height: 0.5rem;
  font-size: calc(12px * var(--font-size-modifier));
  padding: 0;
}


.info {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
}

.image {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.image img {
  width: 125px;
  height: auto;
  border-radius: 12px;
}


.disclaimers p {
  font-size: calc(12px * var(--font-size-modifier));
  max-width: 500px;
  line-height: 0.75rem;
}

.copyright {
  font-size: calc(14px * var(--font-size-modifier));
  text-decoration: bold;
  padding-bottom: 10px;
}

.name {
  font-weight: bold;
  color: var(--footer-text);
  font-size: calc(16px * var(--font-size-modifier));
  margin-bottom: 5px;
}